.idea
venv
rest_server/__pycache__
member/migrations/__pycache__
member/__pycache__
member/migrations
rest_server/api/__pycache__
rest_server/api/migrations/__pycache__
django_tutorial/django_tutorial/__pycache__
django_tutorial/myapp/__pycache__
study/blog_server/account/__pycache__
study/blog_server/account/migrations/__pycache__
study/blog_server/blog/__pycache__
study/blog_server/blog_server/__pycache__
study/django_tutorial/django_tutorial/__pycache__
study/django_tutorial/myapp/__pycache__
study/django_tutorial/myapp/migrations/__pycache__
study/user_tutorial/member/__pycache__
study/user_tutorial/member/migrations/__pycache__
study/user_tutorial/user_tutorial/__pycache__
study/stock_server/config
study/stock_server/stock_server/__pycache__
study/stock_server/stock/__pycache__
study/stock_server/stock/migrations/__pycache__
study/stock_server/account/__pycache__
study/stock_server/account/migrations/__pycache__
